.section {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 5%;
}

#home {
    padding: 20px;
    margin: 20px;
    border: 5px solid black;
    border-radius: 20px;
}


#home img {
    margin-right: 20px;
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

#home img:hover {
    transition: all 0.2s linear;
    box-shadow: black 2px 2px 20px 10px;
    border-radius: 2%;
    margin-right: 20px;
    width: 101%;
    height: 101%;
}

.about {
    margin: 20px;
    text-align: center;
}

.about h1 {
    text-transform: capitalize;
    font-size: xx-large;
    padding-bottom: 10px;
}

.about p {
    font-weight: 400;
    font-size: larger;
    padding: 20px;
}