.footar {
    border: 40px solid azure;
    border-radius: 50px;
    background-color: black;
}

.footer-contact {
    margin: 20px;
    margin-bottom: 0px;
    display: flex;
    padding-top: 20px;

}


.footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-basis: 30vw;
    background-color: black;
    color: aliceblue;
    border-bottom: 2px solid wheat;
    padding-bottom: 50px;
    margin-bottom: 70px;
}

.footer h2 {
    font-size: x-large;
    border-bottom: 2px solid rgb(255, 255, 255);
    text-transform: capitalize;
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

.footer a,
.footer label {
    color: aliceblue;
    margin-top: 20px;
}