body {
  background-color: rgb(244, 218, 171,0.4);
  
}

.home::before {
  width: 100%;
  height: 100%; /* You should set a height value too */
  background-size: cover;
  content: '';
  position: absolute;
  left: 0%;
  top: 0%;
  opacity: 0.9;
  z-index: -1;
  background: url('../public/New-folder/building.jpg')  no-repeat center center/cover;
}
.home .img{
  height: 80vh;

}


