/* body::before{
    content: "";
    background:url("../public/New-folder/building.jpg") no-repeat center center/cover;
    z-index: -1;
    background-color: red;
    position: absolute;
    width: 100vw;
    height: 100%;
    opacity: 0.4;
}
 */

body {
  background-color: azure;
}
